@model IEnumerable<CommentViewModel>


@foreach (var comment in Model)
{
    <div style="padding-top: 300px">
        <div>@comment.Text</div>
        <div>@comment.User.UserName</div>

        <form asp-area="" asp-controller="Comment" asp-action="Delete"
          asp-route-id="@comment.Id" method="post">
            <input class="btn" type="submit" value="Delete" />
        </form>
    </div>
    
}