@model IEnumerable<WallpaperServiceModel>

@{
    ViewBag.Title = "My Wallpapers";
}


<section class="page-title">
    <div class="shell">
        <h1>@ViewBag.Title</h1>
    </div>
</section>

@if (Model.Any()) 
{
    <section class="posts">
        <div class="posts__feed">
            @foreach (var wallpaper in Model)
            {
                <partial name="_WallpaperPartial" model="@wallpaper" />
            }
        </div>
    </section>
}