@model IEnumerable<CategoryIndexModel>

<nav class="nav">
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a href="#">@category.Name</a>
            </li>
        }
    </ul>
</nav>
