@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="shell">
        <div class="hero__inner">
            <div class="hero__title">
                <h1>WallApp</h1>
            </div>

            <div class="hero__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nisi rem iusto harum, illum rerum earum voluptate magnam qui cupiditate aspernatur maiores necessitatibus officiis! Culpa, cupiditate. Autem quisquam officia quod.</p>
            </div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="shell shell--smaller">
        <div class="categories__title">
            <h1>Categories</h1>
        </div>

        <nav class="nav">
            <ul>
                <li>
                    <a href="#">Mountain</a>
                </li>

                <li>
                    <a href="#">City</a>
                </li>

                <li>
                    <a href="#">Animals</a>
                </li>

                <li>
                    <a href="#">Design</a>
                </li>

                <li>
                    <a href="#">Minimal</a>
                </li>

                <li>
                    <a href="#">Abstract</a>
                </li>

                <li>
                    <a href="#">Nature</a>
                </li>

                <li>
                    <a href="#">4K Wallpaper</a>
                </li>

                <li>
                    <a href="#">HD Wallpaper</a>
                </li>

                <li>
                    <a href="#">Ocean</a>
                </li>

                <li>
                    <a href="#">Cars</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="posts">
    <div class="posts__feed">
        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/1.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/1.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/1.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/1.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/2.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/3.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/4.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/5.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/6.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/7.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/8.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/9.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/10.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image">
                <a href="#">
                    <img src="images/posts/11.jpg" alt="">
                </a>
            </div>

            <div class="post__details">
                <div class="post__author">
                    <a href="#">
                        <img src="images/users/default.jpg" alt="pfp">
                    </a>

                    <a href="#">User</a>
                </div>

                <div class="post__actions">
                    <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

                    <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
