@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-index">
    <div class="shell">
        <div class="hero__inner">
            <div class="hero__content">
                <div class="hero__title">
                    <h1>WallApp</h1>
                </div>

                <div class="hero__details">
                    <p>
                        WallApp helps creative professionals from all backgrounds and businesses of all sizes
                        produce their best work with incredible content and innovative tools, all on one platform.
                    </p>
                </div>
            </div>

            <div class="hero__logo">
                <img src="/images/hero-image.png" alt="" width="896" height="547">
            </div>
        </div>
    </div>
</section>

<section class="home-index">
    <div class="shell">
        <div class="home__inner">
            <div class="home__content">
                <div class="home__title">
                    <h1>Browse Now!</h1>
                </div>

                <div class="home__details">
                    <p>WallApp provides high quality and completely free stock photos. All photos are nicely tagged, searchable and also easy to discover through our discover pages.</p>
                </div>

                <div class="home__action">
                    <a asp-area="" asp-controller="Wallpaper" asp-action="All">Browse Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
