@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-index">
    <div class="shell">
        <div class="hero__inner">
            <div class="hero__title">
                <h1>WallApp</h1>
            </div>

            <div class="hero__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nisi rem iusto harum, illum rerum earum voluptate magnam qui cupiditate aspernatur maiores necessitatibus officiis! Culpa, cupiditate. Autem quisquam officia quod.</p>
            </div>

            @*<div class="hero__logo">
                <img src="/images/hero-index-phone.png" alt="">
            </div>*@
        </div>
    </div>
</section>

<section class="hero-index__inverted">
    <div class="shell">
        <div class="hero__inner">
            <div class="hero__title">
                <h1>WallApp</h1>
            </div>

            <div class="hero__details">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nisi rem iusto harum, illum rerum earum voluptate magnam qui cupiditate aspernatur maiores necessitatibus officiis! Culpa, cupiditate. Autem quisquam officia quod.</p>
            </div>
        </div>
    </div>
</section>
