.details-profile {
    min-height: 100vh;
}

.details__profile-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    font-size: 30px
}

.details__profile-action nav ul {
    display: flex;
    justify-content: center;
}

.details__profile-action nav ul li + li {
    margin-left: 20px;
}

.details__profile-action nav ul li a {
    font-size: 16px;
    background-color: #78acf4;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    transition: .2s;
}

.details__profile-action nav ul li a:hover {
    opacity: 0.5;
}

@media (max-width: 1270px) {
}

@media (max-width: 768px) {
    .details__profile-info {
        display: block;
    }

    .details__profile-info div + div {
        margin-top: 20px;
    }

    .details__profile-action nav ul {
        display: block;
    }

    .details__profile-action nav ul li + li {
        margin-left: 0;
        margin-top: 20px;
    }
}