/* Hero */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero-img.jpg");
    height: 700px;
    margin-bottom: 60px;
}

.hero-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero-index-bg.jpg");
    height: 1000px;
}

.hero, .hero-index, .hero-index__inverted {
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__inner {
    padding-top: 220px;
    color: #fff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    max-width: 600px
}

.hero__title {
    margin-bottom: 20px;
}

.hero__title h1 {
    font-size: 80px;
}

.hero__details p {
    font-size: 26px;
    margin-bottom: 120px;
}

@media (max-width: 1270px) {
    .hero {
        height: 750px;
    }

    .hero__inner {
        padding-top: 100px;
        justify-content: center;
    }

    .hero__details p {
        margin-bottom: 50px;
    }

    .hero__inner {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 850px;
    }
}