@model WallpaperServiceModel

<div class="post">
    <div class="post__image">
        <a href="#">
            <img src="@Model.ImageUrl" alt="">
        </a>
    </div>

    <div class="post__details">
        <div class="post__author">
            @*<a href="#">
                <img src="@Model.ImageUrl" alt="pfp">
            </a>*@

            <a href="#">@Model.Title</a>
        </div>

        <div class="post__actions">
            <div>@Model.Likes</div>

            <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

            <button type="button" class="btn btn--like"><i class="fa-regular fa-bookmark fa-xl"></i></button>
        </div>
    </div>
</div>