@model WallpaperServiceModel

<div class="post">
    <div class="post__image">
        <a href="#">
            <img src="@Model.ImageUrl" alt="">
        </a>
    </div>

    <div class="post__details">
        <div class="post__author">
            <a href="#">
                <img src="@Model.ImageUrl" alt="pfp">
            </a>

            <a href="#">@Model.Title</a>
        </div>

        <div class="post__actions">
            <button type="button" class="btn btn--like"><i class="fa-regular fa-heart fa-xl"></i></button>

            <a href="#"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></a>
        </div>
    </div>
</div>